--only-binary=:all:
flask
pydantic
pandas==2.2.2
mlflow==2.10.2
openai
pyyaml
python-dotenv
anthropic
fastapi
uvicorn[standard]
langchain
langchain-openai
langchain-anthropic
langchain-community
langchain-text-splitters
lancedb
langgraph
langchain-databricks
databricks-sdk
requests
httpx
kafka-python
